/* Navbar.css */

.navbar {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; /* Alinear elementos al centro verticalmente */
  justify-content: space-between; /* Espaciar elementos horizontalmente */
  padding: 10px;
  background-color: #333;
  width: 100%; /* Ancho al 100% de la ventana del navegador */
  color: #fff;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  margin: 0 10px; /* Ajustar el margen horizontal entre elementos */
}
